/*font-family: 'Montserrat', sans-serif;*/
:root{
    
   /*Primary*/

--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

  /*Gradients background*/

--Light-slate-blue : hsl(252, 100%, 67%);
--Light-royal-blue : hsl(241, 81%, 54%);

   /*Gradients circle*/

--Violet-blue : hsla(256, 72%, 46%, 1);
--Persian-blue : hsla(241, 72%, 46%, 0);



/*Neutral*/

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}

html, body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 18px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    max-width: 1440px;
    min-width: 375px;
}

main{
    display: flex;
    background-color: var(--White);
    border-radius: 22px;
}

.result{
    background: linear-gradient(var(--Light-royal-blue), var(--Light-slate-blue));
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 22px;
    
}